    #chat-input {
        padding: 10px;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 10px;
        border-width: 1px;
        flex-grow: 1;
      }
      .send-button {
        padding: 10px 20px;
        font-size: 16px;
        margin-left: 10px;
        background-color: lightgreen;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
      .chat-input-container {
        display: flex;
        margin-bottom: 20px;
      } 