     /* body {
        font-family: Arial, sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
      } */
      #chat-input {
        padding: 10px;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 10px;
        border-width: 1px;
        flex-grow: 1;
      }
      .send-button {
        padding: 10px 20px;
        font-size: 16px;
        margin-left: 10px;
        background-color: lightgreen;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
      .chat-input-container {
        display: flex;
        margin-bottom: 20px;
      }
      .app-container {
        max-width: 600px;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
      } 
      .chat-bot-message {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
      } 
      .chat-user-message {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        align-items: start;
      }
      .message-content {
        max-width: 70%;
        word-wrap: break-word;
        padding: 10px 20px;
        border-radius: 10px;       
      } 
      .chat-bot-message  {
        display: flex;
        background-color: lightgray;
        align-items: start;
      } 
      .chatuser-gif {
        width: 30px;
        margin-right: 10px;
      }
      .chatbot-gif {
        width: 30px;
        margin-left: 10px;
      }
      .chat-messages-container {
        flex-grow: 1;
        overflow-y: auto;
        margin-top: 20px;
        padding: 10px;
        scrollbar-width: thin;
      }

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
